services:
  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: cloud_file_storage_db
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_PASSWORD: user_password
      MYSQL_USER: my_user
    ports:
      - '3306:3306'
    volumes:
      - mysql_cloud_file_storage_db_data:/var/lib/mysql

  minio:
    image: minio/minio:latest
    restart: always
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: root_password
    ports:
      - '9000:9000'
      - '9001:9001'
    command: server /data --console-address ":9001"
    volumes:
      - minio_cloud_file_storage_data:/data

volumes:
  mysql_cloud_file_storage_db_data:
  minio_cloud_file_storage_data: