<div class="modal fade" id="uploadFolderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="folder-upload-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Upload folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/folders/upload}" th:method="post" enctype="multipart/form-data" th:object="${uploadFolderDto}" id="upload-folder-form">
                    <input type="hidden" th:name="path" th:value="${param.path}">
                    <div class="mb-3">
                        <input type="file" th:name="files" required webkitdirectory multiple class="form-control mb-3">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="upload-folder-form" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>